<!DOCTYPE html>
<html>

<head>
    <title>Status da Situação</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="js/jquery-3.7.1.min.js"></script>
</head>

<body>
    <h1>Status do solo</h1>

    <div id="content">
        <div id="status"></div>
    </div>

    <div id="humidade">
        <div id="irrigacao">
            <img id="irrigacao" src="img/irrigacao.png">
        </div>
        <div id="irrigacao_ret">
            <!-- <label for="inputUmidade">Humidade:</label>
            <input type="text" id="inputUmidade" placeholder="Insira a umidade">
            <button onclick="atualizarUmidadeManual()">Atualizar</button> -->
            <p>Humidade: <span id="umidade">0</span>%</p>
        </div>
    </div>
    


    <div id="solo">
        <img id="imagemSolo" src="img/seco.jpg">
    </div>
    <div id="mensagemIrrigacao" class="mensagem-irrigacao">
        <p>Irrigando, aguarde</p>
    </div>

    <script>
        var humidade = 0;
        //alert(humidade);
        // Função para buscar dados da API
        function obterDadosDaAPI() {
            $.ajax({
                url: '/get-umidade',
                method: 'GET',
                dataType: 'json',
                success: function (data) {
                    umidade = data[0];
                    $('#umidade').text(umidade);
                    verificarUmidade();
                },
                error: function (error) {
                    console.error('Erro ao obter dados da API:', error);
                }
            });
        }


        // Atualize os dados a cada 5 segundos (5000 milissegundos)
        setInterval(obterDadosDaAPI, 5000);

        // Chame a função inicialmente para carregar os dados imediatamente
        obterDadosDaAPI();
    </script>

    <script src="scripts.js"></script>
</body>

</html>