/* style.css */

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('img/forest.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #333;
    margin: 0;
    padding: 0;
}

#content {
    margin-top: 20px;
}

h1 {
    color: #009688;
}

#humidade {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#humidade img {
    max-width: 100px;
}


#irrigacao_ret p {
    font-size: 18px;
    font-weight: bold;
}

.mensagem-irrigacao {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #8FBC8F;
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}


#solo {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 50px;
    width: 100%;
    text-align: center;
    padding-bottom: 70px;
}

#solo img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
}

#status {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}
